<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="example_robot">

  <!-- Create a root link -->
  <link name="world"/>

  <!-- Instantiate a wsg50 -->
  <include filename="$(find schunk_wsg50_model)/models/wsg50_110.xacro"/>
  <wsg50_110 prefix="" />

  <!-- Attach the gripper to the root link -->
  <joint name="gripper_joint" type="fixed">
    <parent link="world"/>
    <child link="gripper_link"/>
    <origin xyz="0 0 0" rpy="-1.570796 0 0"/>
  </joint>
</robot>
